{% extends "judgementapp/base.html" %}

{% block content %}
{% load custom_tags %}

<style>
    #summary h6.collapse:not(.show) {
        height: 0px !important;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
    }
    #summary h6.collapsing { min-height: 0px !important; }
    #summary a.collapsed:after  { content: '(show target)'; }
    #summary a:not(.collapsed):after { content: '(hide target)'; }
.panel {
    display: none;
    padding: 10px;
}
</style>

<script type="text/javascript">
   function togglePanel(id) {
     document.querySelectorAll('.panel').forEach(panel => {
       panel.style.display = (panel.id === id) ? 'block' : 'none';
     });
   }
  function getSelectedText() {
      if (window.getSelection) {
          return window.getSelection().toString();
      } else if (document.selection) {
          return document.selection.createRange().text;
      }
      return '';
  }
  function captureSelection(i) {
    let judgement = {'rationales': {{ judgement.rationales|safe }}};
    textarea = document.getElementById('rationale-' + i);
    judgement.rationales[i] = getSelectedText();
    textarea.value = judgement.rationales[i];
  }
</script>

<div class="card">

<div class="card-body">
    {# <h5 class="card-title">Rubric-based Passage Judgement</h5> #}
    <h5>Rubric-based Passage Judgement</h5>
    </br>
    <div class="task-section">
        <h5>Task 2 – Rubric-based annotation</h5>
            <p>This task is followed by previous task you have done (please finish task 1 first).</p>
            <p>This task is going to judge how well the <strong>relevant evidence passage</strong> can answer <strong> random questions</strong> from Task 1.</p>
            <p>You will read one passage-question pair at a time, then judge that passage using a 0–5 scale according to rubrics.</p>
        <ul>
            <li>Carefully read the entire passage before starting the questions.</li>
            <li>Click the corresponding button of to review the question and the rubric.</li>
            <li>Decide <strong>how well the passage is based on the rubric</strong> on the scale 0 to 5.</li>
            <li>Similar to Task1, use the provided <strong>Highlighter</strong> tool to select span(s) as rationale for the rating.</li>
        </ul>
    </div>
    {# </h5>Here are <a href="{{ request.path }}/examples">some examples</a> for highlighting tasks.</h5> #}
</div>

<div class="card text-left m-2">
    <div class="row card-body">
        <h6>ID: <i>{{query.qId}}</i></h6>
    </div>
    <div class="card-body row">
        <h6>Open-ended Query</h6>
        <p>{{ query.text }}</p>
    </div>
</div>


<form class="form-inline" action="{% url 'judge' qId=query.qId docId=document.docId %}" method="post">
<div class="card text-left m-2">
    <div class="card-body row">
        <h6>Passage ID: <i>{{ document.docId }}</i> ({{ rank }} / {{total_rank}}) </h6>
    </div>
    <div class="card-body row">
        <div class="col">
            <h6>{{ document.text }} </h6>
        </div>
        <div style="height:100; position:relative; overflow-y: scroll;" id='content'>
          <p>{{ content }}</p>
        </div>
    </div>
    <div class="card-body row">
        <div class="col">
            {% if prev %}
            <a href="{% url 'document' qId=query.qId docId=prev.document.docId %}" class="btn btn-outline-dark btn-sm">Prev Document</a>
            {% endif %}
        </div>
        <div class="col" align="right">
            {% if next %}
            <a href="{% url 'document' qId=query.qId docId=next.document.docId %}" class="btn btn-outline-dark btn-sm">Next Document</a>
            {% endif %}
        </div>
    </div>

    {% if query.unfinished == 0 %} 
        <div class="row card-body">
            <div class="row card-body">
                <h6>To proceed task 2. Please finish Task 1 first.</h6>
            </div>
        </div>

    {% else %}
        <div class="row card-body">
        {% for i in judgement.get_random_questions %}
            <div class="col-1"><button type="button" class="btn btn-link" onclick="togglePanel('q{{ i }}')">Q-{{ i }}</button></div>
        {% endfor %}
        </div>

        {% for i in judgement.get_random_questions %}
        <div id="q{{ i }}" class="panel">
            <div class="row card-body">
                <div class="col"><h6>Question</h6><p>{{ query.questions|get_item:i }}</p></div>
                <div class="col">
                    <h6>Nugget <a href="{% url 'query' qId=query.qId %}" class="btn btn-link btm-sm">(edit nugget)</a></h6>
                    <p>{{ query.nuggets|get_item:i }}</p>
                </div>
            </div>

            <div class="row card-body">
                <div class="col-7">
                    <h6>Judge the anwerability of the context</h6>
                    <p>Determine whether the question can be answered based on the provided context?
                    Rate the context with on a scale from 0 to 5 according to the guideline below.</p>
                    {% csrf_token %}
                    <div class="form-check" id="relevance-labels">
                        <input type="radio" name="relevance-{{ i }}" id="relevance-5" value="5" {% if judgement.relevances|get_item:i == 5 %} checked {% endif %}>
                        <label class="radio"> (5) highly relevant, complete, and accurate.</label></br>
                        <input type="radio" name="relevance-{{ i }}" id="relevance-4" value="4" {% if judgement.relevances|get_item:i == 4 %} checked {% endif %}>
                        <label class="radio"> (4) mostly relevant and complete but may have minor gaps or inaccuracies.</label></br>
                        <input type="radio" name="relevance-{{ i }}" id="relevance-3" value="3" {% if judgement.relevances|get_item:i == 3 %} checked {% endif %}>
                        <label class="radio"> (3) partially relevant and complete, with noticeable gaps or inaccuracies.</label></br>
                        <input type="radio" name="relevance-{{ i }}" id="relevance-2" value="2" {% if judgement.relevances|get_item:i == 2 %} checked {% endif %}>
                        <label class="radio"> (2) limited relevance and completeness, with significant gaps or inaccuracies.</label></br>
                        <input type="radio" name="relevance-{{ i }}" id="relevance-1" value="1" {% if judgement.relevances|get_item:i == 1 %} checked {% endif %}>
                        <label class="radio"> (1) minimally relevant or complete, with substantial shortcomings.</label></br>
                        <input type="radio" name="relevance-{{ i }}" id="relevance-0" value="0" {% if judgement.relevances|get_item:i == 0 %} checked {% endif %}>
                        <label class="radio"> (0) minimally relevant or complete, with substantial shortcomings.</label></br>
                    </div>
                </div>

                <div class="col">
                    <div class="control-group">
                        <h6>The Rationale of nugget</h6>
                        <p>Why did you judge the passage with the rating? 
                        <button type="button" class="btn btn-warning btn-sm" id="capture" onclick="captureSelection({{ i }})">highlight</button>
                         <div class="control-group">
                            <div class="controls">
                                <textarea style="width:100%" id="rationale-{{ i }}" name="rationale-{{ i }}">{{ judgement.rationales|get_item:i }}</textarea>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    </div>

</div>

    <div class="card-body row">
        <div class="col">
            {% if next_query %}
                <a href="{% url 'query' qId=next_query.qId%}" class="btn btn-outline-dark btn-sm">Next Query</a>
            {% endif %}
        </div>
        <div class="col">
            <div class="form-actions" align="right">
                <button id="btn-save" type="submit" class="btn btn-outline-primary btn-sm">Save</button> 
                {% if next %}
                <button id="btn-next" type="submit" name="next" class="btn btn-outline-primary btn-sm">
                    Save and Next</button> 
                {% endif %}
            </div>
        </div>
    </div>
</div>
</form>
</div>

{% endblock %}
